.background {
  background-color: #e5e4e4;
}

.wrapper {
  min-height: 100vh;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  & .time {
    width: 100%;
    text-align: center;

    & span {
      font-size: 100px;
      font-weight: 500;
    }
  }

  & .control-panel {
    display: flex;
    justify-content: stretch;

    list-style: none;

    & li {
      width: 100%;

      & button {
        width: 100%;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: none;

        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: #000;

        &:hover {
          color: #fff;
          background-color: #262626;
        }
      }
    }

  }
}






